[user]
	name = localhost
	email = localhost@localhost
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[core]
	editor = mcedit
[push]
	default = matching
[branch]
	autosetuprebase = always

