*geany
/misc
/*/misc
/tmp
/*/tmp

/.project
/.pydevproject

*.pyc

/*/deb-build/*.deb
/*/deb-build/*.deb.md5
/*/deb-build/*.changes
/*/deb-build/debian/compat
/*/deb-build/debian/files
/*/deb-build/debian/*.debhelper.log

/*.deb
/*.deb.md5
