*geany
/misc
/*/misc
/tmp
/*/tmp
*.log
/artifacts/

/.project
/.pydevproject

*.pyc

/*/deb-build/*.deb
/*/deb-build/*.deb.md5
/*/deb-build/*.changes
/*/deb-build/debian/compat
/*/deb-build/debian/files
/*/deb-build/debian/*.debhelper.log
/*/deb-build/debian/.debhelper/generated/
*.buildinfo

/*.deb
/*.deb.md5
